Licensed under the MIT License.

Copyright (c) 2021-2031. All rights reserved.

# Drifted Sales Data

#### About the Data Source
* Run this notebook to generate the data input first: https://github.com/lady-h-world/My_Garden/blob/main/code/crystal_ball/data_collector/generate_sales.ipynb

In [1]:
import pandas as pd

In [9]:
df = pd.read_pickle('structured_data/sales.pkl')

# train, test split for df
train_df = df.loc[df['Year'].astype(str) < '2015']
test_df = df.loc[df['Year'].astype(str) == '2015']

train_df.reset_index(inplace=True, drop=True)
test_df.reset_index(inplace=True, drop=True)

print(train_df.shape, test_df.shape)

train_df.head()

(532529, 21) (161332, 21)

,Store,Date,Year,Month,Quarter,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,...,Promo2SinceWeek,Promo2SinceYear,PromoInterval,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,2014-12-31,2014,12,4,2,0,1270.0,9,2008,...,-1,-1,-1,3,2605,327,1,0,0,1
1,1,2014-12-30,2014,12,4,2,0,1270.0,9,2008,...,-1,-1,-1,2,6466,703,1,0,0,1
2,1,2014-12-29,2014,12,4,2,0,1270.0,9,2008,...,-1,-1,-1,1,6463,700,1,0,0,1
3,1,2014-12-28,2014,12,4,2,0,1270.0,9,2008,...,-1,-1,-1,7,0,0,0,0,0,1
4,1,2014-12-27,2014,12,4,2,0,1270.0,9,2008,...,-1,-1,-1,6,6057,684,1,0,0,1

In [12]:
drifted_test_df = test_df.copy()

drifted_test_df['Sales'] *= 10  # mockup drifted target
drifted_test_df['Store'] = drifted_test_df['Store'][::-1].values  # mockuo drifted feature

In [13]:
drifted_df = train_df.append(drifted_test_df)
drifted_df = drifted_df.sample(frac=1).reset_index(drop=True)  # shuffle the dataframe
print(drifted_df.shape)
drifted_df.head()

(693861, 21)

,Store,Date,Year,Month,Quarter,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,...,Promo2SinceWeek,Promo2SinceYear,PromoInterval,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,750,2015-07-12,2015,7,3,2,2,4490.0,5,2014,...,5,2013,"Feb,May,Aug,Nov",7,0,0,0,0,0,0
1,828,2014-03-09,2014,3,1,3,2,3290.0,12,2014,...,-1,-1,-1,7,0,0,0,0,0,0
2,166,2015-05-06,2015,5,2,0,0,580.0,2,2008,...,-1,-1,-1,3,78300,938,1,1,0,0
3,190,2015-02-24,2015,2,1,0,0,850.0,2,2012,...,40,2014,"Jan,Apr,Jul,Oct",2,60630,617,1,0,0,0
4,1085,2014-12-03,2014,12,4,2,0,4030.0,2,2015,...,-1,-1,-1,3,10394,936,1,1,0,0

In [15]:
drifted_df.to_pickle('structured_data/drifted_sales.pkl')