Licensed under the MIT License.

Copyright (c) 2021-2031. All rights reserved.

# Drifted Sales Data

#### About the Data Source
* [Run this notebook][1] to generate <b>sales.pkl</b> first
  
[1]:https://github.com/lady-h-world/My_Garden/blob/main/code/crystal_ball/data_collector/generate_sales.ipynb

In [2]:
import pandas as pd

In [3]:
df = pd.read_pickle('structured_data/sales.pkl')

# train, test split for df
train_df = df.loc[df['Year'].astype(str) < '2015']
test_df = df.loc[df['Year'].astype(str) == '2015']

train_df.reset_index(inplace=True, drop=True)
test_df.reset_index(inplace=True, drop=True)

print(train_df.shape, test_df.shape)

train_df.head()

(532529, 21) (161332, 21)

,Store,Date,Year,Month,Quarter,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,...,Promo2SinceWeek,Promo2SinceYear,PromoInterval,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,2014-12-31,2014,12,4,2,0,1270.0,9,2008,...,-1,-1,-1,3,2605,327,1,0,0,1
1,1,2014-12-30,2014,12,4,2,0,1270.0,9,2008,...,-1,-1,-1,2,6466,703,1,0,0,1
2,1,2014-12-29,2014,12,4,2,0,1270.0,9,2008,...,-1,-1,-1,1,6463,700,1,0,0,1
3,1,2014-12-28,2014,12,4,2,0,1270.0,9,2008,...,-1,-1,-1,7,0,0,0,0,0,1
4,1,2014-12-27,2014,12,4,2,0,1270.0,9,2008,...,-1,-1,-1,6,6057,684,1,0,0,1

In [4]:
drifted_test_df = test_df.copy()

drifted_test_df['Sales'] *= 10  # mockup drifted target
drifted_test_df['Store'] = drifted_test_df['Store'][::-1].values  # mockuo drifted feature

In [6]:
drifted_df = pd.concat([train_df, drifted_test_df])
drifted_df = drifted_df.sample(frac=1).reset_index(drop=True)  # shuffle the dataframe
print(drifted_df.shape)
drifted_df.head()

(693861, 21)

,Store,Date,Year,Month,Quarter,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,...,Promo2SinceWeek,Promo2SinceYear,PromoInterval,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,56,2015-03-19,2015,3,1,0,2,26990.0,12,2013,...,-1,-1,-1,4,75340,903,1,1,0,0
1,197,2014-05-01,2014,5,2,2,0,4210.0,3,2015,...,-1,-1,-1,4,0,0,0,1,a,1
2,500,2014-02-13,2014,2,1,3,2,10690.0,9,2007,...,5,2013,"Jan,Apr,Jul,Oct",4,3776,326,1,0,0,0
3,1089,2014-12-23,2014,12,4,3,0,5220.0,5,2009,...,-1,-1,-1,2,17877,1771,1,0,0,1
4,707,2013-04-19,2013,4,2,0,2,2900.0,7,1990,...,-1,-1,-1,5,7470,935,1,0,0,0

In [7]:
print(drifted_df.shape)
drifted_df.to_pickle('structured_data/drifted_sales.pkl')

(693861, 21)